table{
    margin: 10px 0;
    overflow-y: scroll;
    height: 400px;
    display: flex;
    flex-direction: column;
}
 .cases {
    font-weight: bold !important;
    color: gray !important;
}

tbody{
    display: flex;
    width: 100%;
    flex-direction: column;
}

table tr{
    display: flex;
    justify-content: space-between;
}

table tr:nth-of-type(odd){
    background-color: rgb(236, 236, 236);
}
table td{
    padding: 0.5rem;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
