*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color:rgb(236, 236, 236);
}

.app_left{
    flex: 0.9;
    padding: 0 2rem;
}
.app_right{
    flex: 0.35;
}
.app_header{
    display: flex;
    justify-content: space-between;
}

.app_stats {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

@media only screen and (max-width: 830px){
    .app{
        flex-direction: column;
    }
    .app_left{
        padding: 0;
    }
    .app_right{
        margin-top: 20px;
    }
}